<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aayum.courtentry">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/court"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DeleteActivity" />
        <activity
            android:name=".updateActivity"
            android:label="@string/title_activity_update"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".updater"
            android:label="@string/title_activity_updater"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TodaysEvents"
            android:label="@string/title_activity_todays_events"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main2Activity" />
        </activity>
        <activity
            android:name=".Backup"
            android:label="@string/title_activity_backup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fingerprint"
            android:label="@string/title_activity_fingerprint"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchMenu"
            android:label="@string/title_activity_search_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".feesSearch"
            android:label="@string/title_activity_fees_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OthersearchMenu"
            android:label="@string/title_activity_othersearch_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".clientNameSearch"
            android:label="@string/title_activity_client_name_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CourtNameSearch"
            android:label="@string/title_activity_court_name_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CaseNumSearch"
            android:label="@string/title_activity_case_num_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DohSearch"
            android:label="@string/title_activity_doh_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RestoreData"
            android:label="@string/title_activity_restore_data"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FingerprintForNotification"
            android:label="@string/title_activity_fingerprint_for_notification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExportCSV"
            android:label="@string/title_activity_export_csv"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>